100 DIALOGEX 0, 0, 100, 54
STYLE DS_3DLOOK | DS_NOFAILCREATE | WS_VISIBLE | DS_CENTER | WS_POPUP
CAPTION "Descrições"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT 		"Autor", 1000, 10, 6, 25, 8 
//    EDITTEXT		1001, 9, 16, 81, 12, ES_AUTOHSCROLL
    CONTROL      	"&Ok", 1002, BUTTON, BS_DEFPUSHBUTTON, 51, 34, 40, 14
END

