1 MENU
;MOVEABLE PURE LOADONCALL DISCARDABLE
;LANGUAGE LANG_PORTUGUESE, 1
BEGIN
POPUP "&Arquivo"
BEGIN
  MENUITEM "&Novo\x09Ctrl+N",  1000
  MENUITEM "&Abrir...\x09Ctrl+O",  1001
  MENUITEM "&Salvar\x09Ctrl+S",  1002
  MENUITEM "Salvar &como...",  1003
  MENUITEM SEPARATOR
  MENUITEM "Configurar página...",  1004
  MENUITEM "Imprimir\x09Ctrl+P",  1005
  MENUITEM SEPARATOR
  MENUITEM "Sai&r",  1006
END

POPUP "&Cenário"
BEGIN
  MENUITEM "&Estatísticas...\x09Ctrl+E",  2000
  MENUITEM "&Propriedades...\x09Ctrl+R",  2001
  MENUITEM SEPARATOR
  MENUITEM "&Opções...",  2002
END

END

2 ACCELERATORS DISCARDABLE 
BEGIN
    "O", 1000, VIRTKEY, NOINVERT, CONTROL
    "A", 1001, VIRTKEY, NOINVERT, CONTROL
    "B", 1002, VIRTKEY, NOINVERT, CONTROL
    VK_F4, 1005, VIRTKEY, NOINVERT, ALT
END

100 DIALOGEX 0, 0, 162, 95
STYLE DS_3DLOOK | DS_NOFAILCREATE | WS_VISIBLE | DS_CENTER | WS_POPUP
CAPTION "Propriedades"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "Hello",101,EDIT,38,5,85,20,SS_CENTERIMAGE | SS_SUNKEN
    CTEXT           "Hello",101,9,20,85,20,SS_CENTERIMAGE | SS_SUNKEN
    CTEXT           "World",102,38,35,85,20,SS_CENTERIMAGE | SS_SUNKEN
    PUSHBUTTON      "&Beschriften",103,5,70,70,20,0,WS_EX_CLIENTEDGE
    PUSHBUTTON      "&Schließen",104,85,70,70,20,0,WS_EX_CLIENTEDGE
END

